@charset "UTF-8";

header, nav, main, section, article, aside, footer {
	display: block;
}

header, ul, li, main, section, h1, h2, h3, article, p , aside, footer {
	padding: 0;
	margin: 0;
}

.banner {
	background-color: #11233b;
	color: white;
	padding: 10px 20px;
}

body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f0f0f0;
	font-family: Halvatica, Arial, sans-serif;
	font-style: 15px;
}

nav {
	background-color: #20416c;5
	padding: 5px;
	margin-top: 1px;
}

li a {
	color: white;
}

li {
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 15px;
	font-variant: small-caps;
	font-weight: bold;
}

section {
	background-color: #bbbbbb;
	margin-top: 10px;
	padding: 5px;
	margin-bottom: 10px;
}

article {
	background-color: white;
	margin-top: 5px;
	padding: 10px 15px;
}

main {
	width: 600px;
	float: left;
}

aside {
	background-color: #bbbbbb;
	width: 300px;
	float: right;
	margin-top: 10px
}

footer {
	clear: both;
	color: white;
	padding: 10px 15px;
	background-color: #11233b;
}